<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <title>Index</title>
    </head>
    <body>
        <div id="main-container">
            <h2>COUNTER</h2>
            <h3><%= session %></h3>
            <h4>times</h4>
            <a class="btn" href="/add">+2</a>
            <a class="btn" href="/reset">reset</a>
        </div>
    </body>
</html>